.content {
    height: 500px;
    width: 935px;
  
/*IMG - tds vão respeitar e n vai ficar com a img inteira, vai respeitar e ficar uma atras da outras*/
    overflow: hidden;

/*centralizar as imagens*/
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 35em;
    margin-top: 10em;
    margin-bottom: -10em;
}

/*arruma a imagem*/
.content .slide img {
    height: 45%;
    width:35%;
    align-items: center;
}

/*arruamando a posição do bar*/
.navigation {
    position: absolute;
    top: 481%;
    right: 54.5em;
    display: flex;

}
  
  /*bar em baixo*/
.bar {
    width: 15px;
    height: 15px;
    border: 2px solid var(--preto);
    margin: 6px;
    /*deixar redondo*/
    border-radius: 15px;
    cursor: pointer;
  
    /*tempo de transição do input com as img*/
    transform: .5s ease;
  
}

  /*quando clico*/
.bar:hover {
    background-color: var(--preto);
}

/*desaparecer bolinhas do input - mas aparece bolinha do label - a ligação ainda funciona*/
input {
    display: none;
}
  
/*deixar uma img do lado da outra - antes estava em cima*/
.slides {
    display: flex;
  
    /*são 4 img ent é 500%*/
    width: 400%;
  
    height: 100%;
}
  
/*img desaparecer o cantinho*/
.slide {
    width: 20%;
    /*img passando uma do lado da outra*/
    transition: .6s;
}
  
/*quando o 1° label for checkado - n acoentece nd*/
  #slide1:checked ~ .s1 {
    margin-left: 0;

 } 

/*a cada 20% vai sair uma img e vai para esquerda*/
  #slide2:checked ~ .s1 {
    margin-left: -20%;
  } 
  
  #slide3:checked ~ .s1 {
    margin-left: -40%;
  } 
  
  #slide4:checked ~ .s1 {
    margin-left: -60%;
  } 
  
  #slide5:checked ~ .s1 {
    margin-left: -80%;
  } 
  
  /*
      |\__/,|   (`\
    _.|o o  |_   ) )
  -(((---(((-------- 𝒞𝑒𝓈𝒶𝓇 ℐ𝑔𝓁𝑒𝓈𝒾𝒶𝓈  */
  
  /**/
  