@import url("./styles/header.css");
@import url("./styles/main.css");
@import url("./styles/footer.css");
@import url("./styles/carrosel.css");


:root {
    --cor-de-fundo: #ffffff;
    --salmao: #d65d61 ;
    --branco: #ffffff;
    --preto: #000000;
    --laranja-claro: #d4843a;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

/*
    |\__/,|   (`\
  _.|o o  |_   ) )
-(((---(((-------- ğ’ğ‘’ğ“ˆğ’¶ğ“‡ â„ğ‘”ğ“ğ‘’ğ“ˆğ’¾ğ’¶ğ“ˆ  */

/**/
